<%= link_to image_tag("/images/cropped_grape_logo_shadowed.png", :width => 130, :height => 130), '/users/index', id:"welcome_logo", method: :get %>

<div id="user_img">
  <% if current_user.image_url %>
    <%= link_to image_tag(current_user.image_url, :width => 100, :height => 100, :class => "img_circle"), 'http://open.spotify.com/user/' + current_user.username, :target => "_blank" %>
  <% end %>
</div>

<div id="welcome_box">
  Welcome,
  <% if current_user.display_name == nil %>
    <% name = current_user.username %>
  <% else %>
    <% name = current_user.display_name.split(" ").first %>
  <% end %>
  <%= link_to name, 'http://open.spotify.com/user/' + current_user.username, id:"name_link", :target => "_blank" %>
</div>
