<% @recommended_spotify_users.each do |user| %>
  <% if user.images.first %>
    <%= image_tag(user.images.first['url']) %>
  <% end %>
  <%= user.id %><br/><br/>
  <iframe src="https://embed.spotify.com/follow/1/?uri=<%=user.uri%>&size=basic&theme=light" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
  <br/><br/>
  <% @recommended_spotify_artists[user.id].each do |artist| %>
    <% if artist %>
      <table class="table table-hover">
        <tr class="tablerow">
           <% current_tracks = artist.albums.first.tracks %>
           <% selected_track = current_tracks.shuffle.pop %>
           <td><iframe src="https://embed.spotify.com/?uri=<%= selected_track.uri %>" width="100%" height="80"  frameborder="0" allowtransparency="true"></iframe></td>
        </tr>
    <% end %><br/><br/>
  <% end %><br/><br/>
<% end %>
