<% @recommended_spotify_users.each do |user| %>
  <% if user.images.first %>
    <%= image_tag(user.images.first['url']) %>
  <% end %>
  <%= user.id %><br/><br/>

  <br/><br/>
  <% a = [] %>
  <% @recommended_spotify_artists[user.id].each do |artist| %>
    <% if artist %>
      <table class="table table-hover">
        <tr class="tablerow">
          <% current_track = artist.albums.first.tracks.shuffle.first %>
          <% a << current_track %>
          <td><iframe src="https://embed.spotify.com/?uri=<%= current_track.uri %>" width="100%" height="80"  frameborder="0" allowtransparency="true"></iframe></td>
          <td><button><%@yooser.save_tracks!(a)%>Save track</button></td>
        </tr>
    <% end %><br/><br/>
  <% end %><br/><br/>
<% end %>
