<div class="central" id="logo_box">
  <img src="/images/cropped_grape_logo.png" id="index_logo">
  <div id="sign_in_box">
    <%= link_to 'Sign in with Spotify', '/auth/spotify', id:"sign_in"%>
  </div>
</div>


