<div class="central" id="logo_box">
  <img src="/images/cropped_grape_logo.png" id="index_logo">
  <div class="button_box" id="sign_in_box">
    <%= link_to 'Sign in to Grape with Spotify', '/auth/spotify', class:"link", id:"sign_in"%>
  </div>
</div>


