<img src="/images/cropped_grape_logo.png" id="welcome_logo">

<div id="welcome_box">
  Welcome,
  <% name = @user["display_name"].split(" ").first %>
  <%= link_to name, 'http://open.spotify.com/user/' + @user["id"], :target => "_blank" %>
</div>


<div class="central button_box">
  <div id="intro_text">
    Click below to
  </div>
  <%= link_to 'generate a playlist', '/users/playlist', class:"link", id:"generate"%>
</div>
