<div id="welcome_box">
  Welcome,
  <% name = @user["display_name"].split(" ").first %>
  <%= link_to name, 'http://open.spotify.com/user/' + @user["id"], id:"name_link", :target => "_blank" %>
</div>

<table class="table table-hover">
  <tr>
    <td><b> Song </b></td>
    <td><b> Artist </b></td>
    <td><b> Song Preview </b></td>
  </tr>
    <td>Aerosmith</td>
    <td>Walk This Way</td>
    <!-- <td><%= link_to 'preview', @track1.preview_url, :target => "_blank" %></td> -->
    <td><iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A2vX5WL7s6UdeQyweZEx7PP" frameborder="0" allowtransparency="true"></iframe></td>
  <tr>
  <tr>
    <td>Calvin Harris</td>
    <td>How Deep Is Your Love</td>
    <!-- <td><%= link_to 'preview', @track2.preview_url, :target => "_blank" %></td> -->
    <td><iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A22mek4IiqubGD9ctzxc69s" frameborder="0" allowtransparency="true"></iframe></td>
  </tr>
</table>
