body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+66 */
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 65%, #f2f2f2 94%, #f2f2f2 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(65%, #ffffff), color-stop(94%, #f2f2f2), color-stop(100%, #f2f2f2));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 65%, #f2f2f2 94%, #f2f2f2 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 65%, #f2f2f2 94%, #f2f2f2 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 65%, #f2f2f2 94%, #f2f2f2 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #ffffff 65%, #f2f2f2 94%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=1 );
}

a {
  text-decoration: none !important;
}

a:hover {
  background-color: transparent;
  text-decoration: none !important;
}
